/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styles*/

.bg-company-beige {
    background-color: #F5E8C7 !important;
}

p {
    color: #1B2430;
    font-family: 'Noto Serif Georgian', serif;
}


main {
    padding-bottom: 5vh;
    font-family: 'Noto Serif Georgian', serif;
}

.center {
  text-align: center;
}

/*Image*/

.image-container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .image-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .image-container .btn:hover {
    background-color: black;
  }


  /* Centered */
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered .image-text {
    font-size: larger;
    position: relative;
    text-align: center;
    color: white;
    background-color:darkolivegreen;
  }

/* Form */

h1{
  text-align: center;
  font-weight: 700;
}

form{
  background: #fff;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.form{
  width: 100%;
  margin: auto;
}

form .group{
  position: relative;
  margin: 45px ;
}

input{
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}



input:focus{ 
  outline: none;
  color: #5e5d5d;
}

label{
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

input:focus~label,
input:valid~label{
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

.bar{
  position: relative;
  display: block;
  width: 100%;
}

.bar::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #4a8330, #4568DC);
  transition: 0.3s ease width;
  left: 0;
}

input:focus~.barra::before{
  width: 100%;
}

.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: #B06AB3;
  padding-top: 20px;
}

.btn-checkout{
  font-family: 'roboto';
  background: darkolivegreen;
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}